# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Large model weight checkpoints
*.h5
*.pth
*.json
!dffnetv2B0.json # We keep the architecture JSON in git, but ignore the weights h5

# Credentials
kaggle.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db
